/* Login
**************************************/

.login_bg{
	background-image: url("../img/login-bg.jpg");
	background-size: cover;
    background-repeat: no-repeat;
}

#login h1.box-header {
	background-color: #665851;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.4em;
	line-height: 2.8em;
}

#login p{
	color: red;	
}

#login form {
	background-color: white;
	max-width: 340px;
	margin: 0 auto;
	position: relative;
	top: 240px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;

}

#login label {
	display: block;
	font-weight: 700;
	font-size: .8em;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

#login input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .9em;
	color: #888;
}

#login input:focus {
	outline: none;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;
}

#login input[type="submit"] {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #665851;
	cursor:pointer;
	outline: none;
}

#login input[type="submit"]:hover {
	opacity: 0.7;
	transition: 0.5s;
}

#login input[type="submit"]:hover {
	opacity: 0.7;
	transition: 0.5s;
}

/* Formularios Altas, Bajas y Modificaciones
**************************************************************/

.form-error{
	color: red;
}